body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin-top: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  box-sizing: border-box;
}

/* .native-select {
} */

.custom-select {
  padding: 4px;
  background: #111315;
  border-radius: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  width: fit-content;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 0;
  box-sizing: border-box;
  opacity: 0;
}

.list.visible {
  margin: 4px 0 0;
  max-height: fit-content;
  opacity: 1;
}

.list.visible > .item {
  max-height: fit-content;
  opacity: 1;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 36px;
  background: rgba(26, 29, 31, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
  text-transform: capitalize;
  color: #6f767e;
  border: none;
  cursor: pointer;
  max-height: 0;
}

.item:hover {
  background: #272b30;
  color: #ffffff;
}

.active-item {
  position: relative;
  padding: 0 10px;
  margin: 0;
  box-shadow: inset 0px 1.5px 0px #2d3136;
  border-radius: 8px;
  background: #272b30;
  color: #ffffff;
  max-height: fit-content;
  opacity: 1;
}

.active-item:hover > .icon path {
  fill: #2d68ff;
}

.item.hide {
  display: none;
}

.icon {
  position: absolute;
  right: 10px;
}

.icon.open path {
  fill: #2d68ff;
}
